body {
  font-family: Arial, sans-serif;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}

label, input {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ff8800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5e00;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
}